include _bemto.pug 

mixin head(title)
    include _head.pug
    
mixin nav-item(link_text, active, url, sub)    
    li(class= active ? "nav-list__item nav-list__item_active" : "nav-list__item")
        a(href=""+url).nav-list__link= link_text
        if sub
            include _nav-submenu 

        
mixin category-item(photo, name, hover)
    +b.A(href="#", class= hover ? "category-item svg-corners-parent hover" : "category-item svg-corners-parent")
        +e.photo-wrpr
            +e.IMG(src="/images/catalog-cards/"+photo).photo
        +e.name
            span!= name 
        +svg-corners

  
            
mixin video-item(img, text)
    +b.video-item
        +e.inner
            +e.poster-wrpr
                +e.IMG(src="/images/video/"+img).poster
            +e.btn-wrpr
                +e.A(href="#").btn.btn_video
            +e.info
                p!= text
        
mixin advantage-item(text, modifier)
    +b(class="advantage_"+modifier)
        +e.I(class="icon_"+modifier)
        +e(class="text_"+modifier)
            p!= text
            
mixin text-input(modifier, placeholder)
    +b(class="input-wrpr_text _"+modifier)
        +b.INPUT(type="text", placeholder=""+placeholder, class="input_"+modifier)
        
mixin submit-input(modifier, label)
    +b.input-wrpr_submit
        +e.BUTTON(type="submit", class="submit_"+modifier+" btn_white btn_fw")!= label

mixin submit-input(modifier, label)
    +b.input-wrpr_submit
        +e.BUTTON(type="submit", class="submit_"+modifier+" btn_blue btn_fw")!= label
        
mixin agree-check(modifier, label)
    +b(class="input-wrpr_checkbox _agree _"+modifier)
        +e.LABEL(class="label_"+modifier)
            +b.checkbox-view
                +e.INPUT(type="checkbox", class="input_checkbox _agree _"+modifier)
                +e.span.checkbox-view-replacer
            span!= label

mixin agree-check-grey(modifier, label)
    +b(class="input-wrpr_checkbox _agree _"+modifier)
        +e.LABEL(class="label_"+modifier)
            +b.checkbox-view
                +e.INPUT(type="checkbox", class="input_checkbox _agree _"+modifier)
                +e.span_grey.checkbox-view-replacer
            span!= label
            
        

mixin breadcrumb-item(text, is_active)
    +b.LI.bc-item
        +e.A(href="#").link!= text
        +e.SPAN.border /
        
mixin product-loop(img, name, desc, price)
    +b.product-loop
        +e.loader
        +e.added
            +e.added-title
                p Товар добавлен в ваш комплект
            +e.added-desc
                
        +e.A(href="/product.html").image-wrpr
            +e.IMG(src=''+img).image
        +e.name
            A(href="/product.html")!= name
        +e.description
            A(href="/product.html")!= desc
        +e.price
            p
                span!= price
                span P
            
        +e.add-to-cart-wrpr
            include ../blocks/b-qty-control/index.pug
            +b.A(href="#").add-to-cart В комплект
                
mixin svg-corners
    +svg-corner('svg-c1')
    +svg-corner('svg-c2')
    +svg-corner('svg-c3')
    +svg-corner('svg-c4')

mixin svg-corner(cssclass)
    svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 45 45", class="svg-corner "+cssclass)
        line(class="cls cls-1", x2="45")
        line(class="cls cls-2", y1="45")
